* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

h1 {
  text-align: center;
}

.navbar {
  background-color: rgb(80, 76, 76);
  text-align: center;
  width: 100%;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 35px;

}

.navbar a {
  color: white;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar a:hover {
  color: rgb(165, 6, 6);
  background-color: rgba(30, 28, 28, 0.5);
}


.title h2 a {
  font-weight: bolder;
  color: darkslategray;
  border: 25px;
  text-decoration: none;
  border-bottom: 1px solid black;

}

.text {
  background-color: rgb(210, 207, 207);


}

.readmore a:hover {
  color: darkolivegreen;
  text-decoration: none;

}

.reviews a {
  color: rgb(153, 51, 51);


}


.main-title {
  text-align: center;
}



.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.header {
  position: fixed;
  width: 100%;
  height: 120px;
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 15px;
  padding-left: 10%;
  background-color: rgb(31, 31, 31);
}

/* .header {
  width: 100%;
  height: 80px;
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;

} */